body {
  font-family: 'Notable', sans-serif;
  background-color: #F7CFD3;
  color: #0227B8;
  line-height: 40px;
  font-size:48px
}
h1 {
  letter-spacing: 1px;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: yellow;
  text-decoration: underline;
}
.text-center {
  text-align: center;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 30px auto;
  height: 90vh;
}
/* Responsive layout  */
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 400px;
  }
}
@media (max-width: 375px) {
  /* For a screen < 540px, this CSS will be read */
  .container{
    width: 360px;
  }
  body{
    font-size: 35px;
  }
}

